@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
.custom-font{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}
.intro{
    text-align: center;
}
.profile-photo{
    width: 400px;
}